.Crea-post{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.enviarcomentario{
    width: 800px;
}
.Comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.submit-post{
    cursor: pointer;
}